.cardmain {
	max-width: 345px;
	margin: 1rem;
}

.cardMediaHeight {
	height: 140px;
}

.singleProductContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.productDiv {
	width: 50%;
}

.mainImage {
	width: 95%;
	height: 500px;
	margin: 5px;
}

.subImage {
	width: 100px;
	height: 100px;
	margin: 5px;
}
